.info {
  position: absolute;
  top: 40%;
  left: 31%;

  z-index: 3;

  opacity: 0;

  transition: all 0.2s ease-in-out;
}

.info h2 {
  color: #fff;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}
